.cadastro-container{
    background-color: white;
    border: #000000;
    margin-top: 40px;
    margin-left: 180px;
    width: 1000px;
    height: 550px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.passo-a-passo{
    background-color: rgba(155, 39, 176, 0.795);
    width: 300px;
    height: 550px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    position: fixed;
}

.dog-photo{
    width: 300px;
    margin-top: 192px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    opacity: 0.7;
    position: fixed;
}

.allpets{
    width: 120px;
    margin-top: 40px;
    margin-left: 93px;
    
}

.circus-white{
    border-radius: 50%;
    height: 22px;
    width: 22px;
    background-color: #ffffff;
    margin-top: 25px;
    margin-left: 45px;
    position: fixed;
}

.info-pessu{
    color: #ffffff;
    margin-left: 90px;
    margin-top: 25px;
    position: fixed;
}

.circus-grey1{
    border-radius: 50%;
    height: 22px;
    width: 22px;
    background-color: #cecece;
    margin-top: 60px;
    margin-left: 45px;
    position: fixed;
}

.select-perf{
    color: #ffffff;
    margin-left: 90px;
    margin-top: 60px;
    position: fixed;
}

.circus-grey2{
    border-radius: 50%;
    height: 22px;
    width: 22px;
    background-color: #cecece;
    margin-top: 95px;
    margin-left: 45px;
    position: fixed;
}

.info-serv{
    color: #ffffff;
    margin-left: 90px;
    margin-top: 95px;
    position: fixed;
}

.circus-grey3{
    border-radius: 50%;
    height: 22px;
    width: 22px;
    background-color: #cecece;
    margin-top: 130px;
    margin-left: 45px;
    position: fixed;
}

.confirm{
    color: #ffffff;
    margin-left: 90px;
    margin-top: 131px;
    position: fixed;
}

.button-next{
    background-color: #B42DCC;
    border: 1px solid #B42DCC;
    color: white;
    box-sizing: border-box;
    border-radius: 5px;
    width: 238px;
    height: 55px;
    margin-top: 475px;
    position: fixed;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 41px;
    margin-left: 385px;
}

.button-cancel{
    background-color: #BAA8A8;
    border: 1px solid #BAA8A8;
    color: white;
    box-sizing: border-box;
    border-radius: 5px;
    width: 238px;
    height: 54px;
    margin-top: 476px;
    position: fixed;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 41px;
    margin-left: 650px;
}
