label svg {
  display: none;
}

.menu-container {
	max-width: 1900px;
	margin: -25px auto;
	display: flex;
  background: #FFF;
  box-shadow: 2px 1px  black;
  padding: 10px;
  color: #252525;
  
}

.space-between {
	justify-content: space-between;
}


.item {
	margin: 5px;
	padding: 0 10px;
	text-align: center;
  font-size: 1em;

}

.item li {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 5px;
  font-weight: 700;
}

.item li span{
  font-weight: 300;
  margin-left: 5px;
}

.menu-container-link{
  margin-top: 25px;
  background: #fff;
  display: flex;
  border-bottom: 1px solid #252525;
}

.item-link{
 margin: 10px;
}

.item-link li{
  margin-left: 15px;
  display: inline-block;
  list-style: none;
}


.item-color{
  color: #252525;
  font-weight: 700;
}

.ativo{
  color:#9C27B0;
}

#meuMarcador{
  display: none;
}
