.cadastro-pessoal-container{
    background-color: #cecece;
    border: #000000;
}

.fluxo-cadastro-container{
    position: fixed;
    width: 530px;
    height: 710px;
    background: #9C27B0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
}

.paragafo-letra{
    color: white;
    font-family: Roboto;
    font-style: unset;
    font-weight: 505;
    font-size: 19.8px;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 225px;
}

.ball_white {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    position: absolute;
    margin-left: 140px;
}

.ball_grey {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color: #cecece;
    position: absolute;
    margin-left: 140px;
}

.topics{
    margin-top: 180px;
}

.logo{
    position: fixed;
    left: 180px;
    top: 4%;
}

.animal-photo{
    position: fixed;
    top: 410px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    opacity: 0.6;
    position: absolute;
}

.ball-photo{
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background-color: #8b8b8b;
    position: absolute;
    left: 500px;
    top: 125px;
    border: #8b8b8b;
}

.form-cadastro-container{
    position: fixed;
    height: 1000px;
    width: 1000px;
    margin-left: 526px;
    background-color: white;
    
}

.info-pessoal{
    color: #9C27B0;
    margin-top: 50px;
    margin-left: 150px;
}

.text-form{
    color: #5C5C5C;
    font-family: Roboto;
    font-style: initial;
    margin-bottom: 10px;
}

.form-nome{
    margin-left: 150px;
}

.form{
    margin-left: 150px;
    margin-top: 18px;
}

.input-nome{
    width: 230px;
}

.input-email{
    width: 600px;
}

.input-sex{
    padding: 20px;
}

.insert-photo{
    margin-left: 600px;
    margin-top: 65px;
}