<<<<<<< HEAD
.cadastro-container{
    background-color: white;
    border: #000000;
    margin-top: 40px;
    margin-left: 180px;
    width: 1000px;
    height: 550px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    position: fixed;
}

.passo-a-passo{
    background-color: rgba(155, 39, 176, 0.795);
    width: 300px;
    height: 550px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    position: fixed;
}

.dog-photo{
    width: 300px;
    margin-top: 192px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    opacity: 0.7;
    position: fixed;
}

.allpets{
    width: 120px;
    margin-top: 40px;
    margin-left: 93px;
    
}

.circus-white{
    border-radius: 50%;
    height: 22px;
    width: 22px;
    background-color: #ffffff;
    margin-top: 25px;
    margin-left: 45px;
    position: fixed;
}

.info-pessu{
    color: #ffffff;
    margin-left: 90px;
    margin-top: 25px;
    position: fixed;
}

.circus-grey1{
    border-radius: 50%;
    height: 22px;
    width: 22px;
    background-color: #cecece;
    margin-top: 60px;
    margin-left: 45px;
    position: fixed;
}

.select-perf{
    color: #ffffff;
    margin-left: 90px;
    margin-top: 60px;
    position: fixed;
}

.circus-grey2{
    border-radius: 50%;
    height: 22px;
    width: 22px;
    background-color: #cecece;
    margin-top: 95px;
    margin-left: 45px;
    position: fixed;
}

.info-serv{
    color: #ffffff;
    margin-left: 90px;
    margin-top: 95px;
    position: fixed;
}

.circus-grey3{
    border-radius: 50%;
    height: 22px;
    width: 22px;
    background-color: #cecece;
    margin-top: 130px;
    margin-left: 45px;
    position: fixed;
}

.confirm{
    color: #ffffff;
    margin-left: 90px;
    margin-top: 131px;
    position: fixed;
}

.info-pess{
    color: #9c27b0;
    margin-left: 385px;
    margin-top: 38px;
    position: fixed;
}

.name{
    margin-top: 80px;
    margin-left: 385px;
    position: fixed;
}

.name-input{
    border: 1px solid #5C5C5C;
    box-sizing: border-box;
    border-radius: 5px;
    width: 280px;
    height: 35px;
    margin-top: 2px;
}

.letra-form{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 26px;
    color: #5C5C5C;
}

.photo{
    margin-left: 715px;
    margin-top: 92px;
    position: fixed;
}

.circus-photo{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: #C4C4C4;
    position: fixed;
}

.camera{
    margin-top: 11px;
    margin-left: 12px;
}

.insert-photo{
    position: fixed;
    color: #5C5C5C;
    margin-left: 70px;
    margin-top: 21px;
}

.email{
    margin-top: 150px;
    margin-left: 385px;
    position: fixed;
}

.email-input{
    border: 1px solid #5C5C5C;
    box-sizing: border-box;
    border-radius: 5px;
    width: 500px;
    height: 35px;
    margin-top: 2px;
}

.email-confirm{
    margin-top: 220px;
    margin-left: 385px;
    position: fixed;
}

.password{
    margin-top: 300px;
    margin-left: 385px;
    position: fixed;
}

.password-input{
    border: 1px solid #5C5C5C;
    box-sizing: border-box;
    border-radius: 5px;
    width: 236px;
    height: 35px;
    margin-top: 2px;
}   

.password-confirm{
    margin-top: 300px;
    margin-left: 650px;
    position: fixed;
}

.sexo{
    margin-top: 370px;
    margin-left: 385px;
    position: fixed;
    width: 200px;
}

.sexo-1{
    border: solid 1px #5C5C5C;
    border-radius: 5px;
    position: fixed;
    width: 236px;
    height: 35px;
}

.sexo-form{
    margin-left: 3px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.letra-form-sexo{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 26px;
    color: #5C5C5C;
        
}

.form-sexo{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: #5C5C5C;
    margin-left: 27px;
}

.data-nasc{
    margin-left: 650px;
    margin-top: 370px;
    position: fixed;
}

.data{
    border: solid 1px #5C5C5C;
    border-radius: 5px;
    position: fixed;
    width: 237px;
    height: 35px;
    margin-top: 1px;
    position: fixed;
    font-size: 20px;
    color: #5C5C5C;
    font-family: Roboto;
    font-style: normal;
    text-align: center;
}

.button-next{
    background-color: #B42DCC;
    border: 1px solid #B42DCC;
    color: white;
    box-sizing: border-box;
    border-radius: 5px;
    width: 238px;
    height: 55px;
    margin-top: 475px;
    position: fixed;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 41px;
    margin-left: 385px;
}

.button-cancel{
    background-color: #BAA8A8;
    border: 1px solid #BAA8A8;
    color: white;
    box-sizing: border-box;
    border-radius: 5px;
    width: 238px;
    height: 54px;
    margin-top: 476px;
    position: fixed;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 41px;
    margin-left: 650px;
}
=======
.register-container {
    width: 100%;
    max-width: 999px;
    height: 100vh;
    margin: 0 10px 10px 175px; 
    
    display: flex;
    align-items: center;
    justify-content: center;
} 

.register-container .content {
    width: 100%;
    height: 90%;
    
    background: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register-container .content section {
    width: 100%;
    max-width: 380px;
}

.register-container article.imgs-container img{
    position: relative;
    margin-top: 20px;
    float:left;
    width:300px; 
    height:250px;  
    bottom: 0;
    opacity: 0.5; 
    top: 15px;  
}

.register-container div.fist-body{
    border: 1px solid #9c27b0;
    background-color: #9C27B0;
    padding: 100px 0 0 0;
    border-radius: 1%;  
    bottom: 20px;
    height: 100%;
    width: 30.2%;
    
}

.register-container article.body-container img{
    position: relative;
    width: 90%;
    height: 50px;

    display: flex;
    flex-direction: column;
    bottom: 45px;
    left: 15px;    
}

.register-container article.circus-p, .circus-s, .circus-t, .circus-q {
    position: relative;
    width: 20px;
    height: 21px;
    
    border-radius: 50%;
    background-color: rgb(199, 199, 199);
    display: flex;
    flex-direction: column;
    top: 10px;
    left: 60px;      
}

.register-container article.circus-t{
    background-color:rgb(199, 199, 199) ;
}
.register-container article.circus-s{
    background-color: white;
}

.register-container form b{
    position: relative;
    color: white;

    bottom: 9px;
    left: 90px;

}

.register-container div.container-per h1{
    position: relative;
    color: #9c27b0;
    bottom: 540px;
    left: 550px;
}

.register-container div.container-body-fot{
    position: relative;
    border: 1px solid #E09B3D;
    height: 65%;
    width: 65%;

    border-radius: 4px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    left: 400px;
    bottom: 470px;
}

.register-container article.body-dono img{
    width: 100%;
    border: 1px solid #E09B3D;
    border-top-left-radius: 2px;
    border-top-left-radius: 2px;
}

.register-container div.container-body-fot h3{
    position: relative;
    color: #9c27b0;

    top: 5px;
    left: 10px;
}

.register-container article.container-p p{
    position: relative;
    padding: 15px 10px 10px 9px;

    color:rgb(85, 85, 85);

}

.register-container div.container-body-cuida{
    position: relative;
    border: 1px solid #A166AB;
    height: 65%;
    width: 65%;

    border-radius: 4px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    left: 700px;
    bottom: 785px;
}

.register-container article.body-cuidador img{
    width: 100%;
    border: 1px solid #A166AB;
    border-top-left-radius: 2px;
    border-top-left-radius: 2px;
}

.register-container div.container-body-cuida h3 {
    position: relative;
    color: #9c27b0;

    top: 5px;
    left: 10px;
}

.register-container div.container-body-cuida p{
    position: relative;
    padding: 15px 10px 10px 9px;

    color:rgb(85, 85, 85);
}

.register-container div.body-button-container {
    position: relative;
    display: flex;
    bottom: 700px; 
    left: 600px;
}

.register-container article.button-first button{
    position: relative;
    font-size: 20px;
    padding: 14px 40px;
    background-color: #5E136A;
    color: white;  
    
    right: 160px;
    bottom:25px;
    border-radius: 8px;    
}

.register-container article.button-second button{
    position: relative;
    font-size: 20px;
    padding: 14px 40px;
    background-color: #5E136A;
    color: white;  

    right: 65px;
    bottom:25px;
    border-radius: 8px;  
}


>>>>>>> origin/Cadastro-NM
