.container-pet{
    display: flex;
    background-color: #fff;
    min-height: 66.5vh;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 0px 0px 10px 10px;
}

.font-dados-pet{
    display: flex;
    font-family: "Roboto Bold", sans-serif;
    color: #5c5c5c;
    font-size: 16px;
    margin-top: 1vh;
    position: relative;
}

.input-pet{
    width: 320px;
}

.div-dados-pet-1{
    margin-right: 20vh;
}

.button-salvar{
    display: flex;
    height: 50px;
    width: 320px;
    border-radius: 7px;
    background-color: #B42DCC;
    color: white;
    font-family: "Roboto Bold", sans-serif;
    font-size: 3.0vh;
    margin-top: 5vh;
}

.salvar{
    font-family: "Roboto Bold", sans-serif;
    color: white;
    font-size: 3vh;
    margin-left: 18vh;
    margin-top: 1vh;
}