.container-main{
  background: #ffffff;
  width: 100%;
  height: 310px;
}

.container-input {
  max-width: 100%;
	
	display: flex;
	
}

.row {
	flex-direction: row;
}

.item-input {
	flex: 1;
	margin: 5px;
  justify-content: center;
  align-items: center;
	text-align: center;
  font-size: 0.8em;
  font-weight: 700;
}

.result-container{
  margin: 60px;
}


.result-container ul{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  list-style: none;
}

.result-container ul li {
  background: #FFF;
  padding: 24px;
  border-radius: 8px;
  position: relative;
  display: flex;
}

.result-container ul li button{
  position: absolute;
  right: 24px;
  top:24px;
  border:0;
}

.result-container ul li button:hover{
  opacity: 0.8;
}

.result-container ul li strong{
  display: block;
  margin-bottom: 16px;
  color:#41414d;
}

.result-container ul li p + strong{
  margin-top: 32px;
}

.result-container ul li p {
  color: #737380;
  line-height: 21px;
  font-size: 16px;
}

.result-container .items-result {
  flex: 1;
	margin: 5px;
  justify-content: center;
  align-items: center;
	text-align: center;
  font-size: 0.8em;
  font-weight: 700;
}